@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
  /* max-width: 1200px; */
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: "Outfit", sans-serif;
}

.hero-background {
  background-image: url("assets/images/backgroundimage1.webp");
  background-size: cover;
  background-position: center;
}
.landingpagewhychooseus1 {
  background-image: url("assets/images/whychooseustwo.png");
  background-size: cover;
  background-position: center;
}
.landingpagewhychooseus2 {
  background-image: url("assets/images/whychooseustwo.png");
  background-size: cover;
  background-position: center;
}
.landingpagewhychooseus3 {
  background-image: url("assets/images/whychooseustwo.png");
  background-size: cover;
  background-position: center;
}
.newsletter {
  background-image: url("assets/images/newsletter.png");
  background-size: cover;
  background-position: center;
}
.div1,
.div2 {
  background-color: red;

  margin: 10px;
}
